<!DOCTYPE html>
<html lang="en">
<head>
    @{
        ViewBag.Title = "PieChart";
    }

    <title>Result Visualization</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("VisualizeResult", "VisualizeData")',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                }
            });
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("VisualizeResult", "VisualizeData")',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                }

            });
        });

        function drawChart(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Platform');
            data.addColumn('number', 'Sales');
            var dataArray = [];

            $.each(result, function (i, obj) {
              dataArray.push([obj.PlatformName, obj.SalePrice]);


            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Sales By Platform",
                width: 1000,
                height: 800,

            };

            var columnChart = new google.visualization.PieChart(document
                .getElementById('SalesByPlatform_div'));

            columnChart.draw(data, columnChartOptions);
        }
    </script>


      <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("VisualizeCategoryResult", "VisualizeData")',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart2(result);
                    });
                }
            });
        });

        function drawChart2(result) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Category');
            data.addColumn('number', 'Sales');
            var dataArray = [];

            $.each(result, function (i, obj) {
              dataArray.push([obj.Category, obj.SalePrice]);


            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Sales By Category",
                width: 1000,
                height: 800,

            };

            var columnChart = new google.visualization.PieChart(document
                .getElementById('SalesByCategory_div'));

            columnChart.draw(data, columnChartOptions);
        }
                    </script>
    </head>
<body>
    <h2>PieChart</h2>
    <table class="columns">
        <tr>
            <td><div id="SalesByPlatform_div" style="border: 1px solid #ccc"></div></td>
            <td><div id="SalesByCategory_div" style="border: 1px solid #ccc"></div></td>
        </tr>
    </table>
    <a href="PieChart" class="active btn btn-danger">Pie Chart</a>
    <a href="ColumnChart" class="btn btn-primary">Column Chart</a>
    <a href="LineChart" class="btn btn-warning">Line Chart</a>
</body>
</html>



