header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    background-image: url('Assets/Sweater.jpg')
}
h1{
    text-align: center;
}

/* The navbar container */
nav {
    overflow: hidden;
    display: block;
    padding: 2px;
    background-color: lightgray;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}
ul li {
    float: left;
    display: block;
    padding: 0;
    padding-left: 10%; /* Change this value to fit your screen */
    padding-right: 10%;
}
table



    /* Navbar links */
navbar-header {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }




body {
    padding-top: 50px;
    padding-bottom: 20px;    
    background-image: url('Assets/Crumple.jpg')
}

/* Set padding to keep content from hitting the edges */
body-content {
    padding-left: 15px;
    padding-right: 15px;
}
tr:nth-child(even) {
    background-color: aliceblue;
}
tr:nth-child(odd) {
    background-color: lightblue;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
footer {
    background-color: #F1F1F1;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
    background-image: url('Assets/Sweater.jpg')
}
