.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #333;
}

    /* Navbar links */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
/* Create three equal columns that floats next to each other */
.column {
    float: center;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.column {
    float: left;
}

    /* Left and right column */
    .column.side {
        width: 25%;
    }

    /* Middle column */
    .column.middle {
        width: 50%;
    }

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

body {
    padding-top: 50px;
    padding-bottom: 20px;    
    background-image: url('Assets/Crumple.jpg')
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
    background-image: url('Assets/Sweater.jpg')
}
