@{
    ViewBag.Title = "Index";
}

<div id="chart"></div>
@section Scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart(result) {

            // Create the data table.
            var data = new google.visualization.DataTable();          
            var dataArray = [];
            data.addColumn('integer', 'PlatformID');
            data.addColumn('decimal', 'SalePrice');
            $.each(result, function (i, obj) {
                dataArray.push([obj.PlatformID, obj.SalePrice]);
            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Profit by Category",
                width: 1000,
                height: 400,
            };

            //var columnChart = new google.visualization.PieChart(document
            //    .getElementById('piechart_div'));

            //columnChart.draw(data, columnChartOptions);


            //data.addColumn('string', 'Platform');
            //data.addColumn('number', 'Profit');
            //data.addRows([
            //    ['Poshmark', 3],
            //    ['Ebay', 1],
            //    ['Mercari', 1],
            //    ['Tradesy', 1],

            //]);

            // Set chart options
            //var options = {
            //    'title': 'Sales By Platform',
            //    'width': 600,
            //    'height': 500
            //};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart'));
            chart.draw(data, columnChartOptions);
        }
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                //Funcrion and Controller
                url: '@Url.Action("VisualizeResult", "VisualizeData")',
                success: function (result) {
                    google.charts.load('current', {
                        'packages': ['corechart']
                    });
                    google.charts.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                }
            });
        });
    </script>
}